.game-wrapper{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
#game-canvas{
    border-radius: 40px;
    border: 4px solid white;
    border-color: white;
    height: auto;
    transition-property: border-color;
    transition-duration: 0s;
}
